<div class="about-me-main">
    <div id="about-me-image">
        <img src="assets/project-hex.svg" alt="project-hex" id="project-hex">
    </div>
    <div id="about-me">
        <div id="about-me-desc-container">
            <p id="about-me-desc">
                Hey there! I'm Sameema Nasrin, a frontend developer always on the lookout for the next adventure in coding. Being a professional software engineer for 2+ years now, I'm all about bringing fresh ideas to life. Every project for me is like a new puzzle, and I love finding innovative solutions. I'm not the most seasoned pro yet, but I've got a solid foundation and a hunger for learning. Let's team up, swap coding stories, and build web solutions that really pop in the digital world. 
            </p>
        </div>
        <div id="experience" (mouseleave)="setDefaultImage()">
            <h6>
                &lt;  WORK EXPERIENCE  &gt;
            </h6>
            <div id="experience-list" *ngFor="let exp of experience; let i = index">
                <div id="expn">
                    <div class="edu-exp-title-duration">
                        <p>{{ exp.title }}</p>
                        <p>{{ exp.duration }}</p>
                    </div>
                    <div class="office-college">
                        <p>{{ exp.company }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="education" (mouseleave)="setDefaultImage()">
            <h6>
                &lt; EDUCATION &gt;
            </h6>
            <div id="education-list" *ngFor="let edu of education; let i = index">
                <div id="edu">
                    <div class="edu-exp-title-duration">
                        <p>{{ edu.course }} </p>
                        <p>{{ edu.duration }}</p>
                    </div>
                    <div class="office-college">
                        <p>{{ edu.college }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>