h6{
    color: #828282;
    word-spacing: 4px;
}

.edu-exp-title-duration{
    display: flex;
    min-width: 40vw;
    justify-content: space-between;
}

.office-college {
    display: block;
    margin-top: 10px;
    width: 100%;
    color: #BDBDBD;
}

#experience, #education{
    border-bottom: 0.5px solid #4F4F4F;
    padding: 20px 0;
}

.about-me-main {
    display: flex;
    margin-right: 5vw;
}

#about-me-image {
    width: 50vw;
    height: 80vh;
    margin-top: 10vh;
}

#project-hex {
    background-image: url('../.../../../../assets/profilePic1.jpg');
    background-repeat: no-repeat;
    background-size: 30vw;
    transition: background-position 0.5s ease;
    background-position: center center;
}

#project-hex {
    height: 470px;
    width: 50vw;
    z-index: 98;
    display: flex;

}

#about-me {
    margin-top: 10vh;
    padding-bottom: 40px;
    width: 50vw;
    height: 80vh;
    z-index: 999;
    overflow-y: scroll;
}


#about-me::-webkit-scrollbar {
    width: 0;
    height: 0;
}


#about-me {
    scrollbar-width: none;
}

#about-me::-webkit-scrollbar {
    width: 0;
    height: 0;
}


#about-me-desc {
    font-size: 12px;
    border: 1px solid rgba(67, 217, 173, 0.2);
    background-color: rgba(67, 217, 173, 0.1);
    padding: 16px 32px;
    text-align: justify;
    width: 40vw;
    margin-top: 5vh;
    margin-left: 5vw;
    border-top-right-radius: 8px;
    border-end-start-radius: 8px;
    color: #BDBDBD;
}

#experience, #education {
    margin-left: 5vw;
}
#briefcase-hover, #graduation-cap {
    padding-right: 12px;
}

#expn p, #edu p {
    font-size: 12px;
    margin-bottom: 0;
}

#small-hex{
    padding-right: 5px;
    margin: 0;
    height: fit-content;
}