<mat-toolbar>
    <span id="copywrite">
        <a mat-button routerLink="\" id="self-link">
            &copy;2023 sameemanasrin.com  
        </a>  
    </span>
    <span class="spacer"></span>
    <a mat-button href="https://github.com/SameemaNasrin" target="_blank" class="nav-link git">git</a>
    <a mat-button href="https://leetcode.com/zarasparrow23/" target="_blank" class="nav-link leetcode">leetcode</a>
    <a mat-button href="https://www.frontendmentor.io/profile/SameemaNasrin" target="_blank" class="nav-link frontendMentor">frontendMentor</a>
    
</mat-toolbar>