<mat-toolbar>
    <span id="copywrite">
        <a mat-button routerLink="\" id="self-link">
            &copy;2023 sameemanasrin.com  
        </a>  
    </span>
    <span class="spacer"></span>
    <a mat-button href="https://www.frontendmentor.io/profile/SameemaNasrin" target="_blank" class="nav-link frontendMentor">
        <img src="assets/frontendMentor.svg" alt="frontendmentor" id="github" class="socials">
        <img src="assets/frontendMentor-hover.svg" alt="git-hover" id="git-hover" class="socials">
    </a>
    <a mat-button href="https://www.linkedin.com/in/sameema-nasrin-3a435b170/" target="_blank" class="nav-link leetcode">
        <img src="assets/linkedIn.svg" alt="linkedin" id="github" class="socials">
        <img src="assets/linkedIn-hover.svg" alt="git-hover" id="git-hover" class="socials">
    </a>
    <a mat-button href="https://leetcode.com/zarasparrow23/" target="_blank" class="nav-link leetcode">
        <img src="assets/leetcode.svg" alt="leetcode" id="github" class="socials">
        <img src="assets/leetcode-hover.svg" alt="git-hover" id="git-hover" class="socials">
    </a>
    <a mat-button href="https://github.com/SameemaNasrin" target="_blank" class="nav-link git">
        <img src="assets/git.svg" alt="github" id="github" class="socials">
        <img src="assets/git-hover.svg" alt="git-hover" id="git-hover" class="socials">
    </a>
    
</mat-toolbar>