.nav-link {
    padding: 2vh 3vw;
    border-radius: 0;
    border-left: 1.5px solid #1E1539;
    height: max-content;
}


mat-toolbar {
    z-index: 100;
    position: fixed;
    bottom: 0;
    /* font-size: 0.8rem; */
    border-top: 1px solid #1E1539;
    height: fit-content;
    background-color: var(--background-color);
}

#copywrite {
    border-right: 1.5px solid #1E1539;
    /* padding: 2vh 3vw 2vh 1vw; */
    border-radius: 0;
    color: #FFFFFF;
    font-weight: lighter;
}

#copywrite:hover,
.nav-link.leetcode:hover,
.nav-link.frontendMentor:hover {
    color: #FEA55F;
}

#self-link {
    font-weight: lighter;
}


#git-hover {
    display: none;
}


#github {
    display: block;
}

.nav-link:hover {
    #git-hover {
        display: block;
    }

    #github {
        display: none;
    }
}

/* #self-link, #copywrite{
    display: block;
    border: 2px solid red;
} */