<mat-toolbar>
  <span>
    <img src="assets/Logo.svg" alt="logo" id="logo">
  </span>
  <span class="spacer"></span>
  <a mat-button routerLink="/home" class="nav-link hello" routerLinkActive="active">_hello</a>
  <a mat-button routerLink="/projects" class="nav-link prokect" routerLinkActive="active">_projects</a>
  <a mat-button routerLink="/about" class="nav-link about-me" routerLinkActive="active">_about-me</a>
  <span class="spacer"></span>
  <a mat-button class="resume download-link" href="assets/Sameema Nasrin CV.pdf" download="Sameema Nasrin CV">Download Resume</a>
</mat-toolbar>