<div>

  <pre>
    <span class="code-body">&lt;html&gt;
      &lt;body&gt;
        &lt;h1&gt;</span>
           <span id="intro">Hi! I am
  Sameema Nasrin,</span>
        <span class="code-body">&lt;/h1&gt;
        &lt;p&gt;</span>
           <span id="designation">Frontend Developer</span>
           <span class="comments">&lt;!--  I transform ideas into interactive web applications,
            specializing in creating visually appealing and user-friendly
            websites that leave a lasting impression.  --&gt;</span><span class="code-body">
        &lt;/p&gt;
      &lt;/body&gt;
    &lt;/html&gt;</span>
</pre>

</div>