<div class="project-main">
    <div id="project-image">
        <img src="assets/project-hex.svg" alt="project-hex" id="project-hex">
    </div>
    <div id="projects">
        <div id="headline">
            <b>{{ projectCount }}</b> Projects
        </div>
        <div class="all-projects" (mouseleave)="setDefaultImage()">
            <div class="projectList" *ngFor="let project of ProjectList">
                <div class="project-card" (mouseenter)="changeImage(project.img)" (mouseleave)="defaultImage()">
                    <a [href]="project.link" id="project-link" target="_blank">
                        <div id="projectName">
                            <h4>
                                <img src="assets/briefcase.svg" alt="briefcase" id="briefcase">
                                <img src="assets/briefcase-hover.svg" alt="briefcase-hover" id="briefcase-hover">
                                {{ project.name }}
                                <img src="assets/arrow-up.svg" alt="arrow-up" id="arrow-up">
                            </h4>
                        </div>
                    </a>
                    <p id="project-desc">{{ project.desc }}</p>
                    <div class="tech-stacks" *ngFor="let techStack of project.techStack">
                        <span class="tech-stack">{{ techStack }}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>