#background-gradient{
    position: absolute;
    right: 0;
    max-width: 100vw;
    max-height: 100vh;
    
}

#hex-pattern{
    position: absolute;
    top: 15vh;
    right: 20vw;
    max-width: 60vw;
    max-height: 60vh;
}

.background-container{
    /* border: 2px solid red;
    width: 100vw;
    height: 100vh;
    display: absolute; */
}

/* body{
    background-image: url('../assets/Background.svg');
    background-repeat: no-repeat;
    background-position: center center; 
} */