<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>_Sameema_Nasrin</title>
</head>
<body>
  <div class="background-container">
    <img src="../assets/Background.svg" alt="background-gradient" id="background-gradient">
    <img src="../assets/hex_patttern.svg" alt="background-gradient" id="hex-pattern">
  </div>
  
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</body>
</html>